@font-face {
  font-family: "NotoSans";
  src: url("./../assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

:root {
  --red-color: rgb(168, 31, 0);
  --bg-color-navbar: rgb(252, 250, 248);
  --text-color-main: rgb(102, 102, 102);
  --input-checkbox-width-and-hight: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: "NotoSans";
  color: var(--text-color-main);
}

dialog {
  place-self: center;
  padding: 15px;
  margin: 0;
}

#dialog-add-task {
  width: 60vw;
  height: 80vh;
}

/* prevent edit the Home project */
#edit-project {
  display: none;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}

form > label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

nav {
  min-width: 180px;
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--bg-color-navbar);
}

.nav-top > .nav-item > img {
  width: 26px;
  height: 26px;
}

.nav-task,
.nav-project,
.nav-project-list {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  color: var(--text-color-main);
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

svg.svg-delete,
svg.svg-edit,
svg.svg-today,
svg.svg-upcoming {
  pointer-events: none;
}

input[type="checkbox"] {
  width: var(--input-checkbox-width-and-hight);
  height: var(--input-checkbox-width-and-hight);
  color: red;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 5px 8px 5px 12px;
  color: var(--text-color-main);
}

.my-projects {
  justify-content: space-between;
}

.btn-nav-project {
  width: 100%;
  justify-content: space-between;
}

/* Home project == :first-of-type */
.btn-nav-project:not(:first-of-type):hover {
  & > .todo-counter-or-svg-delete > button {
    display: block;
  }

  & > .todo-counter-or-svg-delete > span {
    display: none;
  }
}

.emoji {
  height: 14px;
  width: 14px;
  margin-left: 5px;
}

.btn-add-task {
  color: var(--red-color);
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-add-task:hover {
  & > span {
    color: var(--red-color);
  }
}

.btn-add-task > span {
  color: var(--text-color-main);
}

.nav-item-left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.todo-counter-or-svg-delete {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.todo-counter-or-svg-delete > span,
#todo-today-counter,
#todo-upcoming-counter,
#todo-completed-counter {
  color: var(--text-color-main);
  font-size: 0.8rem;
}

.todo-counter-or-svg-delete > button {
  display: none;
}

.svg-delete {
  color: var(--red-color);
}

main {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-right: 10px;
}

main > header {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.todo-items-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-item {
  border-bottom: solid 1px rgba(102, 102, 102, 0.2);
  padding-bottom: 10px;
}

.todo-item-title,
.todo-item-title-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item-description,
.todo-item-date-label {
  margin-left: calc(var(--input-checkbox-width-and-hight));
}

.todo-item-description:empty {
  display: none;
}

button:has(.due-date:empty) {
  display: none;
}

button:has(.label-name:empty) {
  display: none;
}

.todo-item-date-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.todo-item-date-label > button {
  display: flex;
  align-items: center;
  gap: 3px;
}

.past-due {
  color: var(--red-color);
  font-size: 1.2rem;
  place-self: center;
}

.prio-flag {
  font-size: 1.2rem;
}

#todo-today-counter,
#todo-upcoming-counter,
#todo-completed-counter {
  text-align: center;
  margin: auto 0 auto auto;
}

#completed > p {
  width: 24px;
  height: 24px;
  line-height: 23px;
  font-size: 23px;
}
